.custom-activebols-Cont {
  height: calc(100vh - 3.5rem);
}


.table-bg{
  background: #323232;
}

thead th {
  position: sticky;
  top: 0;
  background-color: #ffffff; /* Match the background color of your table */
  z-index: 10; /* Ensure the header is above the table body */
}